@import "fonts";
@import "~swiper/scss";

html,
body {
  padding: 0;
  margin: 0;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  background-color: #1b1b1b;
  &.no-scroll {
    overflow: hidden;
  }
}
a {
  color: inherit;
  text-decoration: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#__next {
  position: relative;
  overflow: hidden;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #333333 white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  @media only screen and (max-width: 1023px) {
    width: 0;
  }
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  border: 3px #333333 white;
}
